// 5. 設備・仕様ページ

.p-equipment{
	width: 100vw;
	height: 100lvh;
	animation: fadeAnime 2s forwards;
	@include min(768){
		animation: fadeAnime 2s forwards;
	}
	.testBox{
		width: 100vw;
		height: 150vh;
		background: rgba(0, 0, 0, 0.392);
	}

	.border-bottom{
        width: 85vw;
        max-width: 1260px;
        margin: 0 auto 4vh;
        border-bottom: 1px solid black;
        @include min(768){
            width: 70vw;
            margin: 0 auto 12vh;
        }
        &.-s{margin: 0 auto 6vh;}
        &.-last{margin: 0 auto;}
    }
}